html, body {
    background-color: #305030;
    color: #fff;
}

.title {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
}

.subtitle {
    font-size: 1.75rem;
}

.player-cards {
    min-height: 180px;
}

.game-card {
    position: relative;
    left: 100px;
    margin-left: -70px;
    width: 100px;
}

.blue { color: var(--blue); }
.indigo { color: var(--indigo); }
.purple { color: var(--purple); }
.pink { color: var(--pink); }
.red { color: var(--red); }
.orange { color: var(--orange); }
.yellow { color: var(--yellow); }
.green { color: var(--green); }
.teal { color: var(--teal); }
.cyan { color: var(--cyan); }
.white { color: var(--white); }
.gray { color: var(--gray); }
.gray-dark { color: var(--gray-dark); }
